@media (min-width: 768px) {
  .hidden-md-up {
    display: none; }
  .parallax-slider__content .parallax-slider__stacked-buttons .nice-select {
    color: #333333;
    float: left;
    font-size: 2.8rem;
    font-family: "OpenSans";
    background-color: #fff;
    display: inline-block;
    border: none;
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center;
    -webkit-border-radius: 0;
            border-radius: 0; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select.open .list {
      min-width: 200px; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select .option {
      color: #333333; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select:after {
      display: none; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select:hover, .parallax-slider__content .parallax-slider__stacked-buttons .nice-select:focus, .parallax-slider__content .parallax-slider__stacked-buttons .nice-select.active {
      color: #fff;
      background-color: #333333; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select:first-of-type {
      -webkit-border-radius: 12px 0 0 12px;
              border-radius: 12px 0 0 12px; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select:nth-child(12) {
      -webkit-border-radius: 0 12px 12px 0;
              border-radius: 0 12px 12px 0; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select:not(:nth-child(12)) {
      border-right: 1px solid #b4b4b4; } }

@media (max-width: 1200px) {
  .header-content a {
    width: 45%; }
  #header-dropdown {
    width: 35%; }
  html {
    font-size: 9px !important; }
  .about-us__slider-image > img {
    width: 100% !important; }
  .parallax-slider__content .parallax-slider__stacked-buttons {
    width: 100%; }
  .parallax-slider__content .parallax-slider__stacked-buttons select {
    width: 23%; }
  .parallax-slider__content .parallax-slider__stacked-buttons .fa-search {
    width: 2%; }
  .point-information .table .point-information__header {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center; }
  .point-information .table .point-information__content > div:first-child {
    width: 59%;
    text-align: center;
    padding-left: 0; }
  .point-information .table .point-information__content > div:last-child {
    text-align: center; }
  .main-step-4 form {
    margin: 0 10px; } }

@media (max-width: 992px) {
  html {
    font-size: 8px !important; }
  .fastest-way-get-visa {
    height: 325px; }
    .fastest-way-get-visa h2 {
      font-size: 3.2rem;
      letter-spacing: 3.2px;
      margin: 220px 0 23px; }
  footer .footer-nav__logo {
    display: block;
    text-align: center;
    margin: 20px 0; }
    footer .footer-nav__logo img {
      max-width: 100%; } }

@media (max-width: 767px) {
  .nice-select.open .list {
    width: 100%; }
  .hidden-md-down {
    display: none; }
  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #c00000;
    z-index: 10000;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .fixed .navbar-toggle .icon-bar {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      background-color: #fff; }
    .fixed .brand {
      color: #fff; }
  .navbar-toggle {
    float: none;
    width: 13%;
    display: inline-block; }
  .navbar-header {
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
  .brand {
    width: 80%;
    letter-spacing: 5px !important;
    display: inline-block !important;
    min-height: 32px;
    line-height: 32px;
    color: #c00000;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "PTBold"; }
    .brand:hover, .brand:focus, .brand:active {
      color: #fff; }
  html {
    font-size: 10px !important; }
  header .row,
  header .col-sm-4 {
    display: block; }
  header .col-sm-8 {
    display: block;
    padding-right: 15px; }
  header .navbar li {
    font-size: 1.9rem; }
  header .navbar li a,
  header .navbar li a:hover,
  header .navbar li a:focus {
    padding: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  header .navbar li .fa {
    font-size: 2rem;
    margin-bottom: 0;
    margin-right: 10px; }
  header .nav {
    padding-bottom: 15px;
    margin-top: -15px; }
  .header-content a {
    float: none;
    display: block;
    width: 100%;
    text-align: center; }
  #quick-links + .nice-select,
  #header-dropdown + .nice-select {
    width: 49%;
    display: inline-block; }
  .header-content .header-content__search {
    margin: 15px 0; }
  .header-content .nice-select {
    float: none; }
  .parallax-slider {
    height: 500px;
    background-image: none; }
  .parallax-slider__content h1 {
    font-size: 3.1rem;
    color: #bcbcbc;
    margin: 60px 0 30px; }
    .parallax-slider__content h1 span {
      color: #d50100; }
  .parallax-slider__content .parallax-slider__stacked-buttons {
    display: block;
    width: 90%;
    margin: 0 auto; }
    .parallax-slider__content .parallax-slider__stacked-buttons label {
      color: #b5b5b5;
      width: 100%;
      font-size: 1.8rem;
      margin-bottom: 5px;
      font-family: "MyriadProRegular"; }
    .parallax-slider__content .parallax-slider__stacked-buttons .nice-select {
      height: 35px;
      line-height: 35px;
      width: 100%;
      border: none;
      font-size: 1.8rem;
      text-align: center;
      -moz-text-align-last: center;
           text-align-last: center;
      background-color: #fff;
      margin: 0 0 20px;
      font-family: "MyriadProRegular"; }
      .parallax-slider__content .parallax-slider__stacked-buttons .nice-select:after {
        width: 12px;
        height: 12px;
        margin-top: -9px;
        right: 36px;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000; }
  .visa-procedure__wrapper {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .visa-procedure__wrapper .col-md-4:not(:last-child) .visa-procedure__block-img:after {
      display: none; }
  .visa-procedure__block-img {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 30px 0 15px; }
  .visa-procedure__block-content {
    display: inline-block;
    width: 79%;
    margin: 30px 0 15px; }
    .visa-procedure__block-content h4 {
      margin: 0; }
  .fastest-way-get-visa h2 {
    font-size: 2rem;
    letter-spacing: 2px; }
  .fastest-way-get-visa h2 + div {
    font-size: 1.2rem;
    letter-spacing: 0.2px; }
  .about-us .owl-dot.active,
  .about-us .owl-dot {
    width: 15px;
    height: 15px;
    margin-right: 10px; }
  footer .nav-justified > li {
    display: table-cell;
    width: 1%; }
  .footer-conten__social {
    padding: 0;
    text-align: center;
    margin: 45px 0; }
  .footer__copyright {
    padding: 0px 0 200px; }
  main.main-step-3 section {
    padding: 0 5%; }
  .warnings-information__list {
    font-size: 1.8rem; }
    .warnings-information__list li {
      padding-left: 25px;
      letter-spacing: 0.3px; }
      .warnings-information__list li:before {
        left: 5px; }
  .required-documents .panel-title a:focus,
  .required-documents .panel-title a:hover,
  .required-documents .panel-title a {
    font-size: 1.8rem; }
  .required-documents .panel {
    padding: 0 10px; }
  .required-documents .colapsed-block {
    min-width: 80px;
    margin: 10px -5px -10px 0; }
    .required-documents .colapsed-block img {
      margin-left: 10px; }
  .required-documents .panel-body {
    font-size: 1.7rem; } }

@media (max-width: 610px) {
  .parallax-slider__content .parallax-slider__stacked-buttons .fa-search {
    font-size: 2.1rem; }
  .fastest-way-get-visa {
    height: 225px; }
    .fastest-way-get-visa h2 {
      font-size: 1.5rem;
      letter-spacing: 2px;
      margin: 160px 0 10px; }
  .about-us h2 {
    font-size: 3rem; } }

@media (max-width: 480px) {
  .parallax-slider__content .parallax-slider__stacked-buttons button {
    font-size: 1.5rem; }
  .parallax-slider__content .parallax-slider__stacked-buttons .fa-search {
    margin-left: 5px; }
  .visa-procedure h2 {
    font-size: 2.8rem; }
  .visa-procedure__block-img {
    width: 30%; }
  .visa-procedure__block-content {
    width: 69%; }
  .more-info-required {
    width: 100%;
    margin: 20px auto; }
    .more-info-required h2 {
      font-size: 1.8rem; }
    .more-info-required .selected-wrapper {
      padding: 23px 0px 20px 9px;
      font-size: 1.4rem; }
    .more-info-required .selected-wrapper select,
    .more-info-required .selected-wrapper .selected-wrapper_text {
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px; }
  .more-info-required .selected-wrapper .nice-select {
    width: 40%;
    margin-left: auto;
    display: block;
    margin-right: 30px; }
  .point-information .table .point-information__content {
    font-size: 1.5rem; } }

@media (max-width: 410px) {
  #quick-links + .nice-select,
  #header-dropdown + .nice-select {
    width: 100%;
    border: none;
    background-position: 90% center;
    padding: 5px 0 5px 20px; }
  .parallax-slider__content h1 {
    font-size: 2.6rem; }
  .visa-procedure__block-img,
  .visa-procedure__block-content {
    width: 100%;
    margin: 20px 0 5px; }
  .visa-procedure h2 {
    font-size: 2.2rem; }
  .fastest-way-get-visa {
    height: 180px; }
  .fastest-way-get-visa h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 120px 0 5px; }
  .fastest-way-get-visa h2 + div {
    font-size: 1rem; }
  .about-us h2 {
    font-size: 2.5rem; }
  .news-small-block h3 {
    font-size: 2rem;
    line-height: 2rem;
    min-height: 70px;
    padding: 15px 0 0; }
  .news-small-block .news-small-block__content {
    font-size: 1.2rem; }
    .news-small-block .news-small-block__content p {
      margin-bottom: 6px; }
  .footer-conten__social li {
    margin-right: 7%; }
  footer .nav-justified > li {
    width: 32%;
    display: inline-block; } }

@media (max-width: 390px) {
  .parallax-slider__content h1 {
    font-size: 2rem; } }

@media (max-width: 320px) {
  .visa-procedure h2 {
    font-size: 1.8rem; }
  .visa-procedure__block-content h4 {
    font-size: 2rem; } }

/* Step 4 */
@media screen and (max-width: 1000px) {
  .wrapper-section-1 {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center; } }

@media screen and (max-width: 630px) {
  .main-step-4 form {
    margin: 0 10px; }
  .second .wrap-left-right {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center; }
  .second .wrap-left, .second .wrap-right {
    max-width: 350px; }
  .row-1 .col-1, .row-2 .col-1,
  .row-3 .col-1, .row-4 .col-1 {
    width: 43%; }
  .row-1 .col-2, .row-1 .col-3,
  .row-2 .col-2, .row-2 .col-3,
  .row-3 .col-2, .row-3 .col-3,
  .row-4 .col-2, .row-4 .col-3 {
    width: 27%; }
  .second .wrap-left .top-input-select > input,
  .second .wrap-left, .second .wrap-right {
    width: 100%; }
  .second .wrap-bottom {
    margin: 0 auto;
    width: 100%;
    max-width: 350px; }
    .second .wrap-bottom input {
      width: 100%; }
      .second .wrap-bottom input:nth-child(2n) {
        margin-left: 0;
        margin-right: 0; }
  .row-1 .col-1 > div + div,
  .row-2 .col-1 > div + div,
  .row-3 .col-1 > div + div,
  .row-4 .col-1 > div + div {
    letter-spacing: 1px;
    line-height: 18px; }
  .row-1 .item, .row-2 .item, .row-3 .item, .row-4 .item {
    font-size: 12px; }
  .row-1 .title, .row-2 .title, .row-3 .title, .row-4 .title {
    font-size: 14px; }
  .wrapper-section-3 .description > h3 {
    font-size: 17px; }
  .wrapper-section-3 .description > h3 + p {
    font-size: 16px; }
  .wrapper-section-3 .bottom {
    padding: 20px 0 20px 10px; }
  .second .wrap-left .top-input-select > input {
    width: -webkit-calc(80% - 23px);
    width: calc(80% - 23px); }
  .second .wrap-left .top-input-select .nice-select {
    width: 20%;
    padding-left: 15px; }
    .second .wrap-left .top-input-select .nice-select:after {
      right: 9px; } }

@media screen and (max-width: 455px) {
  .second .wrap-bottom {
    max-width: 350px;
    margin: 0 auto; }
  .second .wrap-bottom input {
    width: 100%; }
  .second .wrap-bottom input:nth-child(2n) {
    margin-left: 0px;
    margin-right: 0px; } }

@media screen and (max-width: 414px) {
  .first > h2, .second .wrap-left > h2,
  .wrapper-section-3 > h2 {
    text-align: center; }
  .wrapper-section-2 > h2 {
    margin: 0 0 10px 0px;
    text-align: center; }
  .row-1 .title, .row-2 .title,
  .row-3 .title, .row-4 .title {
    letter-spacing: 1px; }
  .row-1 .col-1, .row-2 .col-1,
  .row-3 .col-1, .row-4 .col-1 {
    width: 48%; }
  .row-1 .col-2, .row-1 .col-3,
  .row-2 .col-2, .row-2 .col-3,
  .row-3 .col-2, .row-3 .col-3,
  .row-4 .col-2, .row-4 .col-3 {
    width: 25%; }
  .wrapper-section-3 .bottom > div div {
    padding-right: 10px; }
  .wrapper-section-3 .description > h3 + p {
    text-align: justify; } }

@media screen and (max-width: 320px) {
  .row-1 .col-1, .row-2 .col-1,
  .row-3 .col-1, .row-4 .col-1 {
    width: 43%; }
  .row-1 .col-2, .row-1 .col-3,
  .row-2 .col-2, .row-2 .col-3,
  .row-3 .col-2, .row-3 .col-3,
  .row-4 .col-2, .row-4 .col-3 {
    width: 27%; } }
